.esquerda, .direita{
    height:50vh;
    width:100%;
}
@media screen and (min-width:768px){
    .esquerda, .direita{
        height:100vh;
    }
}
.esquerda{
    background-color: #9BB8CD;
}
.direita{
    background-color: #5F5D9C;
}