.esquerda, .direita{
    height:50vh;
    width:100%;
}
@media screen and (min-width:768px){
    .esquerda, .direita{
        height:100vh;
    }
}

.esquerda{
    background-color: #9BB8CD;
    background-image: url(Imagem-inicial-Pintura-1024x682.jpg);
    background-size: cover;
}
.direita{
    background-color: #5F5D9C;
    
    background-image: url(aromaterapia.jpg);
    background-size: cover;
    
}

.row h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    white-space: nowrap;
    position:absolute;
    font-size: 4rem;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.esquerda:hover {
    background-color: #7EA6BD; 
    transition: background-color 0.3s; 
}

.direita:hover {
    background-color: #4C4A8A; 
    transition: background-color 0.3s; 
}
.esquerda:focus, .direita:focus {
    outline: none; 
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5); 
}
.description{
    font-size: 2rem;
    transition: opacity 0.5s;
    opacity: 0;
    position: relative;
    margin-top: 50%;
    width: 70%;
    color:black;
}
.esquerda:hover .description, .direita:hover .description {
    opacity:1;
}
.esquerda:hover .description, .direita:hover .description {
    transform: translateY(10px); 
    transition: transform 0.5s; 
}
@media (max-width: 968px){
    .description{
        font-size: 1rem;
    }
    .row h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 1568px){
    .description{
        font-size: 1rem;
    }
}   
