body, html {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    height: 180vh;
}

a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px gray;
    height: 10vh;
}
#current{
    color: gray;
    cursor: default;
}


#logoProfile {
    width: 30%;
    height: 60%;
    margin-top: 15%;
}

#logoProfile:hover{
    opacity: 70%;
    cursor: pointer;
}
.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
li{
    list-style-type: none;
    margin: 1rem;
    
}
.navItem a {
    display: block;
    text-align: center;
    text-decoration: none; 
    font-size: 1.1rem;
}
.header {
    font-style: normal;
    color: black;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
}


.grid {  
    background-image: url('img/planta3-1024x522.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 70%;
    background-position: 110% 10%;
    grid-template-areas:
        'header header'
        'center center'
        'footer footer';
   
}


.center {
    display: flex;
    align-items: start;
    justify-content:center;
    flex-direction: column;
    height: 88%;
}
.conteudo{
    margin: 5%;
    font-size: 1.5rem;   
}
.text{
    white-space: normal;
    text-align: start;
}

#bt{
    font-size: 1.5rem;
    border-radius: 30px;
    background-color: #5F5D9C;
    color: white;
    width: 70%;
    height: 20%;
    cursor: pointer;
}
.footer{
    background-color: #ACC6AA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;    
    color: #5F5D9C;
    margin-top: 0; 
}
.title h1{    
    font-size: 3rem;
}
.title p{
    font-size: 2.0rem;
    margin-bottom: 200px; 
}
.title h1, p{
    text-align: center;
}
.troca {
    display: flex;
    height: 100%;
    width: 100%; 
    align-items: center;
    background: linear-gradient(to right, #5F5D9C 10%, transparent 30%);
    border-top-left-radius: 80%;   
}

.troca button {
    font-size: 1rem;
    border-radius: 30px;
    background-color: white;
    color: #5F5D9C;
    cursor: pointer;
    width: 15%;
    height: 23%;
    margin-top: 50px;
    margin-left: 160px;  
}
.gallery{
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    .gallery img{
        width: 20%;
        margin-left: 20px;
    }
    .troca button{
        font-size: 0.5rem;
        height: 40%;
    }
    li{
        font-size: 1rem;
    }
    #logo{
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .gallery img{
        width: 20%;
        margin-left: 20px;
    }
    li{
        font-size: 1rem;
    }
    #logo{
        width: 30%;
    }
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .title h1{
        font-size: 2rem;
    }
    .title p{
        font-size: 1rem;
    }
    #logoProfile{
        width: 70%;    
    }
    .troca button{
        width: 20%;
    }
}
@media screen and (max-width: 1024px) {
    #bt{
        font-size: 1rem;
        width: 50%;
    }
    .troca button{
        font-size: 0.7rem;
        height: 20%;
        margin-left: 20px;
    }
    li{
        font-size: 1rem;
    }
    #logo{
        width: 30%;
    }
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.2rem;
    }
    .title h1{
        font-size: 3rem;
        margin-top: 1%;
    }
    .title p{
        font-size: 1.5rem;  
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .troca button{
        width: 25%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1440px){
    .grid	{
        background-size: 70%;
        background-position: 115% 10%;
    }
    .title h1{
        margin-top: 10vh;
    }
    .title p{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
        gap: 10px;
    }
    .gallery img{
        width: 20%;
        
    }
    .footer{
        justify-content: flex-end;
    }
    .troca button{
        width: 20%;
        font-size: 1rem;
        height: 45%;
        margin-left: 25px;
        margin-bottom: 10px;
    }
    .troca{
        background: linear-gradient(to right, #5F5D9C 10%, transparent 30%);
        border-top-left-radius: 60%;
    }
}

