header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px gray;
    width: 103%;
    transform: translate(-2%, -7%);
}

#logo {
    margin: 1% 5%;
}

#logoProfile {
    margin-left: 2%;
}

#logoProfile:hover{
    opacity: 70%;
    cursor: pointer;
}

nav {
    font-style: normal;
    color: black;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2%;

}

.navItem {
    text-decoration: none;
    margin: 0% 1%;
}

.navItem:hover{
    opacity: 70%;
}

#titulo1{
    
    justify-content: center;
    display:flex;
    font-family: 'Italianno', sans-serif;
    
    
}
#titulo2{
    justify-content: center;
    display: flex;
    font-family: 'Lexend Exa',sans-serif;
}
body {
    background-image: url('../../assets/ImagemFundo.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100%;

}



/* COMEÇO DO FOOTER*/
footer{
    display: flex;
    width: 100%;
} 
#footer{
    position: fixed;
    bottom: 0;
    background-color: cadetblue;
    width:100% ;
    
}
.wrapper {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.redes {
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    
}


.box {
    text-align: center;
    display: block;
    margin: auto;
}

#logoF{
    width:16rem ;
}
 .imgRedesSociais{
   width:4rem; 
 }
 .Contatos{
    padding-left: 1rem;
    width: 4rem;
 }
 #email{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
 }
 .contato{
    display: flex;
    justify-content: center;
 }
#tel{
    margin-left: 1rem;
}